
SESSION_SECRET=change-this-to-a-long-random-string
DB_HOST=bihdaml2omrsst13fabk-mysql.services.clever-cloud.com
DB_PORT=3306
DB_USER=uvdkowwmgbpehu3o
DB_PASSWORD=3jhovuMNI8Y40uxqz1Yo
DB_NAME=bihdaml2omrsst13fabk
